.gsd-keyboard.settings-ported
Code/
dconf/
enchant/
evolution/
gedit/
gnome-initial-setup-done
goa-1.0/
gtk-3.0/
ibus/
libreoffice/
mimeapps.list
monitors.xml
monitors.xml~
nvim-bck/
pudb/
pulse/
totem/
user-dirs.dirs
user-dirs.locale

